body {
    /* background-color: #ffd966; */
    margin: 0;
    padding: 0;
}

.mainblock {
    /* background-color: #fff; */
    margin: 0 auto;
    width: 80%;
}

/* Header classes and styling */

.headerdiv {
    background-color: #9cf;
    width: 100%;
    height: 164px;
}

@media only screen and (max-width: 600px) {
    .headerdiv {
        height: 128px;
    }
}

.headerfg {
    background-color: transparent;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
}
/* 
@media only screen and (max-width: 600px) {
    .headerfg {
        background-size: 50% auto;
    }
} */

.headerbg {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    width: inherit;
    height: inherit;
}

@media only screen and (max-width: 600px) {
    .headerbg {
        display: none;
    }
}

.footerbar {
    width: 100%;
    background-color: #9cf;
    /* position: absolute; */
}

.footerbar hr {
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.footerdesign {
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 256px;
}

@media only screen and (max-width: 600px) {
    .footerdesign {
        float: none;
        display: none;
    }
}

.footerpart {
    width: 25%;
    height: 256px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .footerpart {
        float: none;
        width: 100%;
        height: 100px;
    }
}

.footerstitch {
    width: inherit;
    height: 84px;
    background-color: #fff;
    background-image: linear-gradient(#fff, transparent),
    repeating-linear-gradient(45deg, transparent, transparent 16px, rgba(153, 204, 255, 0.50) 16px, rgba(153, 204, 255, 0.75) 32px),
    repeating-linear-gradient(-45deg, transparent, transparent 16px, rgba(153, 204, 255, 0.50) 16px, rgba(153, 204, 255, 0.75) 32px);
    background-repeat: no-repeat;

}

.scrollbgcon {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 16px, rgba(255, 153, 51, 0.25) 16px, rgba(153, 204, 255, 0.25) 32px),
    repeating-linear-gradient(-45deg, transparent, transparent 16px, rgba(255, 153, 51, 0.25) 16px, rgba(153, 204, 255, 0.25) 32px);
    background-attachment: fixed, scroll;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 164px;
}

@media only screen and (max-width: 600px) {
    .scrollbgcon {
        height: 82px;
    }
}

/* Navibar styling */

.stickytop {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navibtn {
    background-color: #69f;
    border: none;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 0;
    outline: none;
    text-align: left;
    width: 100%;
    height: 48px;
}

.navibtn:after {
    background: transparent;
    content: "Open Menu...";
    font-family: THSarabun;
    font-size: 24px;
    line-height: 0;
    padding-left: 32px;
    position: relative;
    top: -8px;
}

.inlinemenu {
	position: absolute;
	width: 100%;
	z-index: 2;
}

#navlink {
	background-color: transparent;
    display: none;
    overflow: hidden;
}

.navilinks {
    background-color: #cff;
	border: none;
	border-top: solid #60f 1px;
	color: #60f;
    display: block;
    float: left;
	font-family: THSarabun;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	min-height: 32px;
    width: 25%;
}

.navilinks:hover {
    background-color: #ff9;
}

@media only screen and (max-width: 600px) {
    .navilinks {
        float: none;
        width: 100%;
        outline: none;
        border-radius: 0px;
    }
}

/* Paragraph styling */

p {
    color: #0d0d0d;
    font-family: THSarabun;
    font-size: 4vw;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 24px;
    }
}

.blurb {
    color: #0d0d0d;
    font-size: 4vw;
    text-align: center;
}

.headerfont {
    color: #0d0d0d;
    font-family: Tangerine;
    font-size: 128px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .blurb {
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .headerfont {
        font-size: 64px;
    }
}

.aboutbartxt {
    color: #009;
    font-family: THSarabun;
    font-size: 24px;
    text-align: center;
}

.footbarheader {
    font-family: THSarabun;
    font-size: 48px;
    color: #009;
}

@media only screen and (max-width: 600px) {
    .footbarheader {
        font-size: 32px;
    }
}

.footerlinks {
    font-family: THSarabun;
    font-size: 32px;
    color: #009;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .footerlinks {
        font-size: 24px;
    }
}

.footerlinks:hover {
    color: #fff;
}
