body {
    /* background-color: #ffd966; */
    margin: 0;
    padding: 0;
}

.mainblock {
    /* background-color: #fff; */
    margin: 0 auto;
    width: 80%;
}

/* Header classes and styling */

.headerdiv {
    background-color: #ff9900;
    width: 100%;
    height: 64px;
}

@media only screen and (max-width: 600px) {
    .headerdiv {
        height: 48px;
    }
}

.headerfg {
    background-color: transparent;
    background-size: 15% auto;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
}

@media only screen and (max-width: 600px) {
    .headerfg {
        background-size: 30% auto;
    }
}

.headerbg {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 7%;
    width: inherit;
    height: inherit;
}

@media only screen and (max-width: 600px) {
    .headerbg {
        background-size: 15% auto;
    }
}

.footerbar {
    width: 100%;
    background-color: #ffcc00;
    /* position: absolute; */
}

.footerbar a {
    font-family: THSarabun;
    font-size: 4vw;
    color: #fff;
    text-decoration: none;
}

.footerbar p {
    font-family: THSarabun;
    font-size: 32px;
    color: #cc3300;
}

.footerbar hr {
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.footerdesign {
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 256px;
}

@media only screen and (max-width: 600px) {
    .footerdesign {
        float: none;
        display: none;
    }
}

.footerpart {
    width: 25%;
    height: 256px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .footerpart {
        float: none;
        width: 100%;
        height: 164px;
    }
}

.scrollbgcon {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 6px, rgba(153, 204, 255, 0.25) 6px, rgba(153, 204, 255, 0.25) 12px),
    repeating-linear-gradient(-45deg, transparent, transparent 6px, rgba(153, 204, 255, 0.25) 6px, rgba(153, 204, 255, 0.25) 12px);
    background-attachment: fixed, scroll;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

/* Navibar styling */

.stickytop {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navibtn {
    background-color: #ffcc00;
    border: none;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 0;
    outline: none;
    text-align: left;
    width: 100%;
    height: 46px;
}

.navibtn:after {
    background: transparent;
    content: "Open Menu...";
    padding-left: 32px;
    position: relative;
    top: -8px;
}

.inlinemenu {
	position: absolute;
	width: 100%;
	z-index: 2;
}

#navlink {
	background-color: #ffedb5;
    display: none;
    overflow: hidden;
}

.navilinks {
	border: none;
	border-top: solid #cc3300 1px;
	color: #cc3300;
    display: block;
    float: left;
	font-family: THSarabun;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	min-height: 32px;
    width: 25%;
}

.navilinks:hover {
    background-color: #ffff99;
}

@media only screen and (max-width: 600px) {
    .navilinks {
        float: none;
        width: 100%;
    }
}

/* Paragraph styling */

p {
    color: #0d0d0d;
    font-family: THSarabun;
    font-size: 4vw;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 24px;
    }
}

.blurb {
    color: #0d0d0d;
    font-size: 4vw;
    text-align: center;
}

.headerfont {
    color: #0d0d0d;
    font-family: Tangerine;
    font-size: 8vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .blurb {
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .headerfont {
        font-size: 48px;
    }
}